*{
    margin: 0;
    padding: 0;
}

article{
    height: 100vh;
}

#telaInicial {
    background-image: url(../img/puzzle-g318c77c43_1920.jpg);
    font-family: 'Fredericka the Great', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#telaInicial h1{
    text-align: center;
    font-size:8vw;
    font-weight: 500;
    color: rgb(19, 25, 32);
}

#inputName{
    width: 200px;
    height: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0) ;
    font-weight: 500;
    border: none;
    padding: 3px;
    border-radius: 5px;
    

}

form {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

#telaEscolha{
   background-image: url(../img/puzzle-g318c77c43_1920.jpg);
   font-family: 'Fredericka the Great', sans-serif;
   flex-direction: column;
   align-items: center;
}

#telaEscolha h1{
    text-align: center;
    margin: 3rem;
    font-weight: 500;
    color: rgb(19, 25, 32);
}

#carouselExampleControls{
    height: 75vmin;
    width: 75vmin;
    border: 4px dashed white;
    padding: 10px;
    
}


#telaPrincipal{
    background-image: url(../img/puzzle-g318c77c43_1920.jpg);
    flex-direction: column;
    align-items: center;

}

#telaPrincipal h1{
    font-family: 'Fredericka the Great', sans-serif;
    text-align: center;
    font-size:8vmin;
    font-weight: 500;
    padding-top: 1.5rem;
    color: rgb(19, 25, 32);
}

#board{
    width: 70vmin;
    height: 70vmin;
}

#imgGrid{
    height: 70vmin;
    width: 70vmin;
    border: 3px dashed white;
    padding: 10px;
}


#imgGridPadrao{
    height: 70vmin;
    width: 70vmin;
    border: 3px dashed white;
    padding: 10px;
}
.pos>img{
    height: 22.7vmin;
}

.pos>img:hover {
    opacity: 0.6;
}
.posPadrao>img{
    height: 22.7vmin;
}

.selectImg{
   opacity: 0.6;    
}

#indicadores{
    display: flex;
    width: 70vmin;
    justify-content:space-between;
}
#indicadores>h5{
    font-size: 1rem;
    height: 1rem;
    color: white;
}

#tempo{
    color: rgb(11, 124, 30);
}
#helps{
    color: rgb(11, 124, 30);
}
#help{
    width: 75vmin;
    
}

#telaFinal {
    background-image: url(../img/puzzle-g318c77c43_1920.jpg);
    font-family: 'Fredericka the Great', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#telaFinal h1{
    text-align: center;
    font-size:8vmin;
    font-weight: 500;
    color: rgb(19, 25, 32);
}


